body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.8;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* CARDS */
.card {
    background: rgba(255,255,255,0.08);
    margin: 20px auto;
    padding: 25px;
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
}

/* SKILLS */
.skills span {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    background: rgba(56,189,248,0.2);
    border-radius: 20px;
    font-size: 14px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}
